<div class="m-2">
  <%= link_to "Back to chat rooms", chat_rooms_path %>
</div>
<div class="m-4">
  <p class="text-center">Chat Room: <%= @chat_room.name %></p>
</div>

<div class="h-full w-full m-10">
  <div class="flex flex-col gap-1 w-0.75">
    <% @chat_room_messages.each do |chat_room_message| %>
      <div class="flex gap-4">
        <div class="w-18 flex flex-col-reverse">
          <p class=""><%= chat_room_message.user_name %></p>
        </div>
        <div class="<%="bubble bubble-left shadow-lg"%>">
          <p><%= chat_room_message.content %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>

